/*----------------------------------------------------------------------------- 
  App setap
-----------------------------------------------------------------------------*/

.app-wrap {
  display: flex;
  flex-direction: column;
}

.app-wrap > * {
  flex: 1 1 auto;
}